dash~=2.14.2
dash-iconify
dash-mantine-components
plotly
pandas

# Needed for interactive development
jupyter

# Needed for Render deployment: https://github.com/thusharabandara/dash-app-render-deployment
gunicorn
